<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Tell IIS to use Node.js to run your application -->
    <handlers>
      <add name="node" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Nodejs\node.exe" resourceType="Unspecified" />
    </handlers>

    <!-- Setup the rewrite rules to direct the requests to your Express app -->
    <rewrite>
      <rules>
        <rule name="Node.js" enabled="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
